h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
  text-align: center;
}
p{
  color: Aquamarine;
  font-size: 16px;
  text-align: center;
  font-family: Verdana;
}
h2{
  font-family: Verdana;
  font-weight: 300;
  font-size: 42px;
  color: white;
  text-align: center;
}
.gray {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
}
.footer{
  text-align: right;
  color: gray;
}
